/* Stylesheet for the 'JCST Theme 2013' Plone theme */

/* General styles - used across document*/


/* ======================================
	Reset adong
====================================== */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:14px 'open_sansregular', "Helvetica Neue", Arial, sans-serif; letter-spacing:normal;  } 
select, input, textarea, button { font:14px 'open_sansregular', "Helvetica Neue", Arial, sans-serif;  }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll;}
a:hover, a:active { outline: none; text-decoration:underline;}
/*ul.navTree { margin-left: 2em; }*/ /* DTJ made more specific & removed om - uls & ols are used too widely for a generic rule like this */
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-family: 'open_sansbold'; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
img { -ms-interpolation-mode: bicubic; }
div { box-sizing: border-box;  -moz-box-sizing:border-box; /* Firefox */}

/*label,*/ 

input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; -webkit-appearance: none; border-radius: 0 !important;}
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


#content-views {
  position: relative;
  top: -4px;
  background:transparent;
}


/*
  Variable Grid System (Fluid Version).
  Learn more ~ http://www.spry-soft.com/grids/
  Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

preview - http://grids.heroku.com/fluid_grid?column_amount=4

  Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_4 {
  width: 96%;
  padding: 2%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4 {
  display:inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
/*  background: white;*/
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.white{
  background: #ffffff;
}

/* Grid >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .grid_1 {
  width:23.0%;
}

.container_4 .grid_2 {
  width:48.0%;
}

.container_4 .grid_3 {
  width:73.0%;
  *margin-right:0 !important;
}

.container_4 .grid_4 {
  width:98.0%;
}



/* Prefix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .prefix_1 {
  padding-left:25.0%;
}

.container_4 .prefix_2 {
  padding-left:50.0%;
}

.container_4 .prefix_3 {
  padding-left:75.0%;
}



/* Suffix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .suffix_1 {
  padding-right:25.0%;
}

.container_4 .suffix_2 {
  padding-right:50.0%;
}

.container_4 .suffix_3 {
  padding-right:75.0%;
}



/* Push Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .push_1 {
  left:25.0%;
}

.container_4 .push_2 {
  left:50.0%;
}

.container_4 .push_3 {
  left:75.0%;
}



/* Pull Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .pull_1 {
  left:-25.0%;
}

.container_4 .pull_2 {
  left:-50.0%;
}

.container_4 .pull_3 {
  left:-75.0%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}



/* ======= HOMEPAGE GRID ======== */
#content{
background:transparent;
}

#portal-breadcrumbs{
    
}

.container_4 {
  width: 100%;
  padding: 0;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4 {
    /*background: white;*/
}

#home-news{
  position: relative;
  background:#ffffff;
    float: right;
width:25%;
margin-right: 0 !important;
margin-left:0;
  height: 570px;

}


#news-items ul{
  list-style-type: none;
padding: 0 15px 15px 15px;
margin: 0;
}

#news-items ul li span{
font-size: 11px;
  }

#news-items ul li{
  margin-bottom: 10px;
  line-height: 1.3em;
}  

#home-news h1{
padding: 10px 10px 10px 15px;
}

.news-bottom{
  position: absolute;
  bottom: 0;
  padding: 15px;
}


#home-intro{
  background:#ffffff;
  height: 304px;
  margin-bottom: 30px;
  margin-left: 0;
}

#home-twit{
  height: 236px;
padding-right: 0.5%;
width: 23%;
background:#ffffff;
*width: 22%;
}

.home-icons{
  height: 240px;

}

#home-intro h1{
  padding: 15px 20px 5px 20px !important;
font-size: 28px;
*font-size: 1.750em !important;
  }


#home-intro p{
  display: flex;
  padding: 0 20px 20px 20px;
font-size: 16px;
  }

  #home-intro img{
float: right;
  }
  #home-intro a.button{
    margin-left: 20px;
    display: inline-block;
  }

#homepage div.grid_1,
#homepage div.grid_2,
#homepage div.grid_3,
#homepage div.grid_4 {
    overflow: hidden;
}

#icon-blog,
#icon-forum,
#icon-iscp,
#icon-docs{
width:100%;
height:103px;
    overflow: hidden;
background:#ffffff; 
*text-align: center;
}

#icon-blog img,
#icon-forum img,
#icon-iscp img,
#icon-docs img{
float:left;
}

#icon-blog span,
#icon-forum span,
#icon-iscp span,
#icon-docs span{
  font-family: 'merriweatherregular', "Times New Roman", Times, serif; 
  font-size: 19px;
  color:#163d66;
display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
 *width: auto;
height: 102px;
width: 10%;
}

#icon-blog div,
#icon-forum div,
#icon-iscp div,
#icon-docs div{
  float: right;
  display: table; 
   position: absolute; 
  }

#icon-blog,
#icon-iscp {
margin-bottom: 30px;
}



/* ======================================
	Fonts 
====================================== */


@font-face {
    font-family: 'merriweatheritalic';
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-italic-webfont.eot');
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-italic-webfont.woff') format('woff'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-italic-webfont.ttf') format('truetype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'merriweatherregular';
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-regular-webfont.eot');
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-regular-webfont.woff') format('woff'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'open_sansbold';
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Bold-webfont.eot');
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Regular-webfont.eot');
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Italic-webfont.eot');
    src: url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('++resource++jcst.responsivetheme.stylesheets/fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}





h1, h2, h3, h4{ 
    font-family: 'merriweatherregular', "Times New Roman", Times, serif; 
    font-weight:normal !important; 
    margin-bottom:10px;
    letter-spacing:0em;
    line-height:160%;
}

h4{
margin-bottom:5px;
margin-top:0;
}

h1{ font-size:1.6em; color:#163d66; padding-bottom:10px; }
*h1{ font-size:1.6em !important ; color:#163d66; padding-bottom:10px; }
h2{ font-size:22px; color:#163d66; margin-top:40px; margin-bottom:15px;}
h3{ font-size:18px; color:#163d66; margin-top:50px; margin-bottom:5px;}
h4{ font-size:16px; color:#163d66;}
h5{ font-size:14px; color:#163d66;}

#relocated_content_title{
margin-left:15px;
margin-right:15px;
}

a:hover { outline: none; text-decoration:underline; color:#009bed  ;}
a, a:link, a:active, a:visited { color: #009bed  ; }
#content a:hover, dl.portlet a:hover{
color:#009bed  ;
}


em {
font-style: italic;
}

dl.portlet, 
#portal-globalnav, #content
{
    font-size:100%;
}

#edit-bar {
    font-size: 11px;
}

#content p{
    line-height: 24px;
   /* text-align:justify;*/
/*
    letter-spacing:0.02em;

    padding:0 10px 0 0;
*/
}


#viewlet-below-content-title{
    margin-left:15px;
    font-size:85%;
    padding:0 0 10px 0;
}


#content .documentDescription,
#content #description {
    color: #666;
    margin-left: 0;
    font: bold 1.25em 'Open Sans', "Helvetica Neue", Arial, sans-serif;
}


/* Emulates the styling from the h1 tag */
#content .field input[type="text"][name$=".title"],
#archetypes-fieldname-title input {
    font-family: 'Merriweather', Georgia Regular,"Times New Roman",Times,serif; font-weight:normal; 
font-size:1.6em; color:#163d66g;
    line-height: 125%;

}

#content ul {
margin-top:10px;
margin-bottom:20px;
}

.button {
  background: #94c01c;
  padding: 5px 12px 5px 10px;
  display: table-cell;
  color: #FFF !important;
  margin-bottom: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: 'open_sansbold';
}

/*
.button:hover {
  text-decoration: none;
}
*/

.button:after {
  background: url("++resource++jcst.responsivetheme.images/button-arrow.png") no-repeat scroll 20px 3px rgba(0, 0, 0, 0);
  content: " ";
  display: block;
  float: right;
  height: 20px;
  width: 30px;
}



/* ======================================
	Structure
====================================== */
body{ 
	background: #eeeeec;
	font-size:14px;
		color:#525252; 
}


     

#visual-portal-wrapper { width: 960px; margin: 0 auto; }


/* Tweak deco to adjust width of left hand column.
   We also adjust width of right hand column for consistency, but we never use it */
   
#portal-columns {
*position: relative;
    padding-top: 20px;
    *margin-top: 0px;
    *z-index:1;
}


 /*====== HEADER =========*/


 #portal-header{
  padding-top: 32px;
  padding-left: 10px;
 }

#portal-logo {
  display: inline-block;
  width:250px ;
  padding-left: 9px;
}

#portal-logo img {
width: auto;
}

#portal-top-wapper{

  background: #EEEEEC;
display: inline-block;
width: 100%;

}

#portal-top{
  position: relative;
  left:0px;
  margin: 0 auto;
  width: 940px;
  padding-bottom:30px;
  background: #FFFFFF;
}




/*======= SEARCH BAR =========*/
#portal-searchbox #searchGadget {
border: medium none;
float: left;
height: 22px;
line-height: 14px !important;
padding: 8px 30px 5px 5px;
vertical-align: middle;
width: 184px;
background: #e8e7e6;
font-size: 1em;
color: #6c6c6c;
}

div.LSBox .searchButton {
  position: relative;
background-color: #FFF;
  background: url("++resource++jcst.responsivetheme.images/search-icon.png") no-repeat scroll 0 0 transparent !important;
/*background-position: 50% 60%;*/
background-repeat: no-repeat;
display: block;
float: left;
height: 22px;
/*padding: 5px;*/
text-indent: -9999px;
width: 22px;
top: 7px;
left: -29px;
}



#LSResult {
position: absolute;
width: 220px;
top: 41px;
left:0;
background: #FFF;
/*margin: -33px -9px 0 0;*/
z-index: 2;
font-size: 110%;
-moz-box-shadow: 0 3px 8px #888888;
-webkit-box-shadow: 0 3px 8px #888;
box-shadow: 0 3px 8px #888;
box-shadow: 0 5px 10px #ccc;      
zoom: 1;
  filter:
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=1),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=2),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=3),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=10),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=3),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=2),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=1);
          
}

ul.LSTable{
  padding: 1em;
}


div.listingBar a {
border: none;
background: #94C01C;
color: #FFF;
font-weight: bold;
font-family: open_sansregular, 'Helvetica Neue', Arial, sans-serif;
font-size: 13px;
}

div.listingBar a:hover {
color: #FFF !important;
background-color: #94C01C;
}


 /*====== FOOTER =========*/



#footer-wrapper{
display: inline-block;
width: 100%;
  background: #2d2d2d ;
margin-top: 50px;
}

#footer{
  margin: 0 auto;
  width: 960px;
  display: flex !important;
  padding-top: 2em;
padding-bottom: 1em;
}


.portal-footerlinks-column {
/*float: left;
display: block;
width: 212px;
padding-left: 10px;
padding-right: 10px;
*/
}

div.portal-footerlinks-column.grid_1.omega{
width: 25%;

}

.portal-footerlinks-column a{
  font-size: 13px;
  color: #009bed;
}

.portal-footerlinks-column h2{
  font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #D6d6D6;
}

#portal-footerlinks li {
display: list-item;
margin-bottom: 5px;
}

#lower-footer{
  margin-top: 50px;
  font-size: 12px;
 text-align: center;
 margin-bottom: 10px;
}

#lower-footer p{
color: #757575;

}

/*****************************/

/*=====Table=====*/
body.template-view #content-core table {
width:100%;
}

table th{
padding-bottom:5px;
padding-top:5px;
background-color: #ECECEC;
}

table td{
padding-bottom:4px;
padding-top:4px;
}

table{
	margin-top: 30px;
	margin-bottom: 30px;
}

/* ======================================
	Breadcrumbs
====================================== */

#portal-breadcrumbs {
	background: #ffffff;
	padding: 10px;
	font-size: 13px;
	margin-bottom: 15px;
}


span.breadcrumbSeparator img{
position: relative;
top: 1px;
padding-left: 5px;
padding-right: 5px;
}


#content{ 
  background: #ffffff;
	padding: 20px;
  /*overflow-x: scroll;*/
}




/* ======================================
	NAV Left side NAV
====================================== */
.portletNavigationTree{
	background: #ffffff;
}


dl.portlet ul.navTreeLevel0 > .navTreeItem  {
list-style:none;
margin-left:0;
border:none;
}


.portletNavigationTree .navTreeItem a {
    /* Hide most kinds of nav icons (including pages)*/
    background: none;
    padding: 0 !important;
margin:0;
color:#535353 !important;
font-size:13px;
}


.portletNavigationTree .navTreeItem a:hover {
color:white !important;
text-decoration:none;
}

.portletNavigationTree li{
border-bottom: 1px solid #e9e9e9 !important;
}

.portletNavigationTree li:hover {
background:#94c01c;
}

.portletNavigationTree li:last-child{
border: medium none !important;
height: inherit;
padding-bottom:0;
}

.portletNavigationTree .navTreeItem a img {
    /* Hide other kind of nav icons (including images)*/
    display: none;
}

dl.portletNavigationTree dt.hiddenStructure {
    /* Hide title bar of navtree */
    display: none;
}


dl.portlet ul.navTree .navTreeCurrentItem {
background:none;
border:none;
margin:0;
color:white !important;
}

dl.portlet ul.navTree li.navTreeCurrentNode {
background:#94C01C;

}

.portletNavigationTree .navTreeItem a{
padding-top:6px !important;
padding-bottom:6px !important;
padding-right:13px !important;
padding-left:40px !important;
}

.portletNavigationTree li{
padding-top:0px !important;
padding:0px !important;
margin-bottom:0px !important;
}

.portletNavigationTree li:before{
	background: url("++resource++jcst.responsivetheme.images/left-menu-arrow-white.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: inline-block;
    float: left;
    height: 13px;
    margin-left:15px;
    margin-top:13px;
    width: 9px;
}

/*===== SEARCH BOx =====*/
#portal-searchbox {
  float:right;
  position: relative;
  right: -10px;
}
/*
input.searchButton{
float: left;
position: relative;
left: -25px;
  
}
*/

input.searchPage {
font-size: 100% !important;
 vertical-align:baseline;
}


/*============ TOP MAIN NAV ============*/

.top-level-1, .top-level-2, .top-level-3, .top-level-4, .top-level-5, .top-level-6, .top-level-7, {
  width: 134px !important;
}



#wrap-portal-globalnav{
clear:both;
background:#2d2d2d;
border-bottom: 5px solid #00b6f2;
display:block;
}

#portal-globalnav{
width:960px;
margin: 0 auto;
padding-left: 22px;
}

#portal-globalnav li{
width:134px;
text-align: center;
display:inline-block;
vertical-align:middle;
*float: left;
}

/*#portal-globalnav li + li{
    content: "";
    border-left:1px solid white;
}
*/

#portal-globalnav li a{
  font-family: 'open_sansbold';
display:block;
height:50px;
width:134px;
color:white;
padding-top:17px;
font-size: 11.5px;
text-transform: uppercase;
}

#portal-globalnav li a:hover{
text-decoration: none;
}

#portal-globalnav li:hover{
background:#94c01c;
}

#portal-globalnav li.selected{
background:#94c01c;
}

/* custom */
li#portaltab-cesr a, li#portaltab-uk-trainees a, li#portaltab-irish-trainees a{
height:42px;
padding-top:25px;
}

li#portaltab-quality-assurance a {
width:120px;
padding-left: 6px;
}

li#portaltab-quality-assurance a:hover{
width:120px !important;
}

li#portaltab-jcst-membership-and-sacs a{
width:125px;
padding-left: 6px;
}

li#portaltab-jcst-membership-and-sacs a:hover{
width:125px !important;
}


/* ===== BUTTONS === */

input[type="submit"] {
-webkit-appearance: none;
background: #94c01c;
cursor: pointer;
display: inline-block;
/*height: 25px;*/
line-height: 25px;
text-align: center;
padding: 0px 10px 0px 10px;
border: none;
color: #ffffff;
font-size: 12px;
margin: 0 5px 5px 0 !important;
text-transform:uppercase;
font-weight: bold;
}





/* ========== CLICABLE DIV ===========*/

div.clickable { /* Containing div must have a position value */ 
  position:relative; 
} 

  div.clickable a { 
    position:absolute; 
    width:100%; 
    height:100%; 
    top:0; 
    left:0; 
    text-decoration:none; /* Makes sure the link   doesn't get underlined */ 
    z-index:10; /* raises anchor tag above everything else in div */ 
    background-color:white; /*workaround to make clickable in IE */ 
    opacity: 0; /*workaround to make clickable in IE */ 
    filter: alpha(opacity=1); /*workaround to make clickable in IE */ 
  }

  div.clickable:hover { 
text-decoration: underline ;
  }

  /*==== End ====*/

  #content .callout {
border-left: 1em solid #F8D89F;
}

/*= ====== BLOG ====== */

.EntryDescription{
  line-height: 24px;
}

#blogByLineInfos{
margin-bottom: 5px;
color: #808080;
}


.reply-to-comment-button{
-webkit-appearance: none;
background: #94C01C;
cursor: pointer;
display: inline-block;
height: 25px;
line-height: 25px;
text-align: center;
padding: 0px 10px 0px 10px;
border: none;
color: #FFF;
font-size: 12px;
margin: 0 5px 5px 0 !important;
text-transform: uppercase;
font-weight: bold;
}